#control-button {
  right: 0;
  height: 30px;
  display: flex;
  justify-self: end;
  align-items: center;
}

.control-buttons {
  width: 47px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

#minimize-button:hover,
#maximize-button:hover {
  background-color: #565656;
}

#close-button:hover {
  background-color: #e81123;
}
