#control-button {
  top: 0;
  right: 0;
  width: 135px;
  height: 30px;
  display: flex;
  align-items: center;
}

.control-buttons {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
}

.control-buttons svg {
  display: block;
  margin: auto;
}
