#title-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3c3c3c;
  height: 30px;
}

#title {
  color: #cccccc;
  font-size: 12px;
  margin: 7px;
  margin-left: 135px;
}
