#title-bar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background: #3c3c3c;
  height: 30px;
}

#title {
  display: block;
  color: #cccccc;
  font-size: 12px;
  margin: 7px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-app-region: drag;
}
